<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div style="background:#f7f7f7;overflow:hidden">
    <div style="background:#fff;border:1px solid #ccc;margin:2%;padding:0 30px">
        <div style="line-height:0px;height:0px">&nbsp;</div>
        <div style="line-height:10px;height:10px">&nbsp;</div>
        <a href="http://oijeqwnas.guewqok.cn/AeN8dCk" rel="noopener" target="_blank"> </a>
        <div style="text-align: center; line-height: 30px; height: 30px;">&nbsp;求求你</div>
        <div style="text-align: center; line-height: 30px; height: 30px;">不要离开我好吗</div>
        <div style="text-align: center; line-height: 30px; height: 30px;">点击下方赶紧回来</div>
        <div style="text-align:center;"><a
                href="" th:href="${qqGroupUrl}"
                rel="noopener"
                style="display: inline-block;width: 150px;background-color: orange;height: 50px;line-height: 50px;text-align: center;color: #fff;text-decoration: none;font-size: 20px;font-weight: bold;margin-top: 20px;"
                target="_blank">一键回家</a></div>
        <div style="line-height:20px;height:20px">&nbsp;</div>
    </div>
</div>
</body>
</html>