<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table align="left" class="font_content_container_warp" style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td style="-webkit-font-smoothing: subpixel-antialiased;">
            <table class="font_warp"
                   style="width: 100%; padding-top: 0px; padding-bottom: 0px; background-color: rgb(48, 201, 153);"
                   border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td align="left" class="ele_text_and_image_left_container" valign="top"
                        style="-webkit-font-smoothing: subpixel-antialiased;">
                        <table class="ele_text_and_image_warp" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td class="ele_text_and_image_left_warp_content"
                                    style="-webkit-font-smoothing: subpixel-antialiased;">
                                    <div style="margin: 25px 30px 0px; padding: 0px; border: 0px rgb(51, 51, 51); border-image: none; color: rgb(51, 51, 51); background-color: rgba(0, 0, 0, 0);">
                                        <h1 style="margin: 0px; padding: 0px; font-weight: bold;"><span
                                                style="color: rgb(255, 255, 255);"><span style="font-size: large;">&nbsp; &nbsp; &nbsp; 欢迎您加入，恭喜您已审核通过</span><span
                                                style="color: rgb(48, 201, 153); font-size: 15px;">欢迎您绑定邮箱</span></span>
                                        </h1></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="-webkit-font-smoothing: subpixel-antialiased;">
            <table class="font_warp" style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td style="padding-top: 10px; padding-bottom: 10px; -webkit-font-smoothing: subpixel-antialiased;">
                        <table class="font_warp" style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td align="left" style="-webkit-font-smoothing: subpixel-antialiased;">
                                    <div style="padding-left:30px;">
                                    <p style="margin: 0px; padding: 0px; line-height: 1.5;"><span
                                            style="font-size: 16px;">但这是临时的，将在5分钟后失效</span><span
                                            style="color: rgb(255, 255, 255); font-family: geneva, verdana, arial, helvetica, sans-serif; font-size: 16px;">尊敬的用户，</span>
                                    </p>
                                    <p style="margin: 0px; padding: 0px; line-height: 1.5;">&nbsp;</p>
                                    <p style="margin: 0px; padding: 0px; line-height: 1.5;"><span
                                            style="font-size: 16px;">请在点击以下按钮，进入到正式群组，谢谢！</span><span
                                            style="border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dashed;"
                                            t="5"
                                            times=" <br/><br/>时间：2020-11-05 10:39:21<br/><br/>提交了绑定邮箱请求</span></p></div></td></tr></tbody></table></td></tr></tbody></table></td></tr><tr><td style="
                                            webkit-font-smoothing:="webkit-font-smoothing:"
                                            subpixel-antialiased="subpixel-antialiased"></span></p>
                                    </div>
                                    <table class="font_warp" style="width: 100%; padding-top: 0px; padding-bottom: 0px;"
                                           border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td align="center" valign="middle"
                                                style="-webkit-font-smoothing: subpixel-antialiased;">
                                                <hr style="margin: 10px 30px; padding: 0px; border-right-style: none; border-bottom-style: none; border-left-style: none;">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="-webkit-font-smoothing: subpixel-antialiased;">
                                    <table class="font_warp" style="width: 100%;" border="0" cellspacing="0"
                                           cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td style="padding-top: 0px; padding-bottom: 0px; -webkit-font-smoothing: subpixel-antialiased;">
                                                <table class="font_warp" style="width: 100%;" border="0" cellspacing="0"
                                                       cellpadding="0">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center"
                                                            style="-webkit-font-smoothing: subpixel-antialiased;">
                                                            <div style="margin: 10px 30px; padding: 0px; border: 0px rgb(51, 51, 51); border-image: none; color: rgb(51, 51, 51); background-color: rgba(0, 0, 0, 0);">
                                                                <a style="padding: 10px 30px; border: 1px solid red; border-image: none; color: #ff0000; font-size: 20px; text-decoration: none; display: inline-block;"
                                                                   href="" th:href="${qqGroupUrl}"
                                                                   target="_blank" rel="noopener">立即进入</a>
                                                                <h2 style="margin: 0px; padding: 0px; font-weight: bold;">
                                                                    <span style="color: rgb(255, 255, 255); line-height: 13.44px; font-size: 14px;"><br>时间：<span
                                                                            th:text="${datetime}"><br></span>
                                                                </h2><br>
                                                                <p style="margin: 0px; padding: 0px; line-height: 1.5;">
                                                                    <span style="color: rgb(255, 255, 255); font-family: geneva, verdana, arial, helvetica, sans-serif; font-size: 14px;">如有问题，感谢您的理解与配合（公共假期除外）联系</span><span
                                                                        style="color: rgb(255, 255, 255); font-family: geneva, verdana, arial, helvetica, sans-serif; font-size: 14px;">或发送邮件至</span><span
                                                                        style="color: rgb(51, 145, 255); font-family: geneva, verdana, arial, helvetica, sans-serif; font-size: 14px;">&nbsp;</span><span
                                                                        style="color: rgb(255, 255, 255); font-family: geneva, verdana, arial, helvetica, sans-serif; font-size: 14px;">联系我们。</span>
                                                                </p></div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="-webkit-font-smoothing: subpixel-antialiased;">
                                    <table class="font_warp" style="width: 100%; padding-top: 0px; padding-bottom: 0px;"
                                           border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td align="center" valign="middle"
                                                style="-webkit-font-smoothing: subpixel-antialiased;">
                                                <hr style="margin: 10px 30px; padding: 0px; border-top-color: rgb(23, 191, 130); border-top-width: 5px; border-right-style: none; border-bottom-style: none; border-left-style: none;">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="-webkit-font-smoothing: subpixel-antialiased;">
                                    <table class="font_warp" style="width: 100%;" border="0" cellspacing="0"
                                           cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td style="padding-top: 0px; padding-bottom: 0px; -webkit-font-smoothing: subpixel-antialiased;">
                                                <table class="font_warp" style="width: 100%;" border="0" cellspacing="0"
                                                       cellpadding="0">
                                                    <tbody>
                                                    <tr>
                                                        <td align="left"
                                                            style="-webkit-font-smoothing: subpixel-antialiased;">
                                                            <div style="margin: 10px 30px 70px; padding: 0px; border: 0px rgb(51, 51, 51); border-image: none; color: rgb(51, 51, 51); background-color: rgba(0, 0, 0, 0);">
                                                                <p style="text-align: right; margin: 0px; padding: 0px;">
                                                                    <span style="line-height: 16.8px; font-size: 14px;">此致</span>
                                                                </p>
                                                                <p style="text-align: right; margin: 0px; padding: 0px;">
                                                                    <span style="line-height: 16.8px; font-size: 14px;"><br></span>
                                                                </p>
                                                                <p style="margin: 0px; padding: 0px;"><span
                                                                        style="line-height: 16.8px; font-size: 14px;"><br></span>
                                                                </p></div>

                                                            <div style="margin: 0px 30px; padding: 0px; border: 0px rgb(51, 51, 51); border-image: none; color: rgb(51, 51, 51); background-color: rgba(0, 0, 0, 0);"></div>
                                                            <h1 style="margin: 0px; padding: 0px; font-weight: bold;">
                                                                &nbsp;</h1>
                                                            <div>
                                                                <h2 style="margin: 0px; padding: 0px; font-weight: bold;">
                                                                    <span style="color: rgb(255, 255, 255); line-height: 13.44px; font-size: 14px;">您的验证码：<span th:text="${code}"><br>
                                                                    <span th:text="${shakespeare}">
                                                                    </span>
                                                                </h2>
                                                            </div>
                                                            <div><span
                                                                    style="color: rgb(255, 255, 255); line-height: 13.44px; font-size: 14px;"><br></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td height="0" valign="top" style="height: 0px; -webkit-font-smoothing: subpixel-antialiased;">&nbsp;<p><font
                color="red"><strong></strong></font></p>
            <p><font color="red"><strong><span
                    style="left: -6008px; top: -4768px; position: absolute;"><br><br>&gt;</span><span
                    style="left: -5139px; top: -7029px; position: absolute;"><br><br>&gt;</span><span
                    style="left: -8440px; top: -4764px; position: absolute;"><br><br>&gt;</span><span
                    style="left: -2563px; top: -3019px; position: absolute;">N06E&gt;</span><span
                    style="left: -1607px; top: -8714px; position: absolute;"><br><br>&gt;</span><span
                    style="left: -9194px; top: -4048px; position: absolute;">N06E&gt;</span><span
                    style="left: -2532px; top: -2893px; position: absolute;">N06E&gt;</span><span
                    style="left: -9913px; position: absolute;">N06E&gt;</span><span></span></strong></font></p>
            <p></p></td>
    </tr>
    </tbody>
</table>
</body>